# gpio_pins section maps which GreenPiThumb component is connected to which
# Raspberry Pi GPIO pin (in BCM numbering).
[gpio_pins]
pump: 26
dht11: 21
soil_moisture_1: 16
soil_moisture_2: 12
mcp3008_clk: 18
mcp3008_dout: 23
mcp3008_din: 24
mcp3008_cs_shdn: 25

# adc_channels section maps which GreenPiThumb component is connected to which
# channel of the MCP3008 ADC.
[adc_channels]
soil_moisture_sensor: 0
light_sensor: 6
